body {
	background-color: gray;
}
.calc {
	border-color: gray;
	border-style: outset;
	background-color: lightgray;
	padding: 5px;
	padding-bottom: 25%;
	margin-right: 35%;
	margin-left: 35%;
}
.displayofcalc{
	padding: 1px;
	background-color: white;
	border-style: outset;
	margin: 5px;
}
.button_line{
	display: inline-block;
	color: white;
	font-size: 24px;

}
.buttoncustom1 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:10%;
	left:37%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
}
.buttoncustom2 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:10%;
	left:44%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;

}
.buttoncustom3 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:10%;
    left:51%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;

}
.buttoncustomplus {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:10%;
    left:58%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
}
.buttoncustom4 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:18%;
	left:37%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
}
.buttoncustom5 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:18%;
	left:44%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;

}
.buttoncustom6 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:18%;
    left:51%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;

}
.buttoncustomminus {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:18%;
    left:58%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.buttoncustom7 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:26%;
	left:37%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
}
.buttoncustom8 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:26%;
	left:44%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;

}
.buttoncustom9 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:26%;
    left:51%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
}
.buttoncustomtimes {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:26%;
    left:58%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
}
.buttoncustom0 {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:34%;
    left:37%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 55px;
	padding-right: 55px;
}
.buttoncustomdot {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:34%;
    left:51%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.buttoncustomdivide {
	border-style: outset;
	background-color: gray;
	position: absolute;
	top:34%;
    left:58%;
	border-radius: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
